* {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #020A18;
}

.header {
  background-color: #0A121F;
}

.container {
  margin: 0 auto;
  max-width: 1146px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-link {
  padding: 40px;
  display: block;
  text-decoration: none;
  color: #FFFFFF;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}

.header-link:hover {
  background: #3A68B8;
  border-radius: 5px;
}

.main {
  margin-top: 160px;
}

.flex-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.next {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 160%;
  color: #3A68B8;
  text-transform: uppercase;
}

.main-heading {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 55px;
  line-height: 130%;
  color: #FFFFFF;
  margin-top: 10px;
  width: 604px;
}

.main-dsc {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 160%;
  color: #FFFFFF;
  opacity: 0.7;
  margin-top: 40px;
  width: 558px;
  margin-bottom: 50px;
}

.get {
  background: #3A68B8;
  border-radius: 5px;
  margin-right: 20px;
}

.button-txt {
  padding: 15px 30px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  color: #FFFFFF;
}

.watch {
  background: #3A68B8;
  border-radius: 5px;
}

.watch-txt {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  margin-left: 10px;
  color: #FFFFFF;
}

.button-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.button-txt-flex {
  padding: 15px 30px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.get:hover, .watch:hover {
  outline: 3px solid #FFFFFF;
}

.logos {
  margin-top: 200px;
  margin-bottom: 71px;
}

.logos-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.banner {
  margin-top: 160px;
  margin-bottom: 265px;
}

.banner-txt {
  max-width: 485px;
}

.banner-heading {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #FFFFFF;
}

.banner-dsc {
  width: 460px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
  opacity: 0.7;
  margin-top: 30px;
}

.banner-button {
  margin-top: 50px;
}

.flex-box2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.item {
  width: 362px;
  padding: 30px;
  text-align: center;
  background: #132035;
  border-radius: 10px;
}

.adv-heading {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 31px;
  text-align: center;
  color: #FFFFFF;
  opacity: 0.7;
  margin: 30px 0;
}

.adv-dsc {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
  opacity: 0.7;
  margin-top: 30px;
}

.down {
  margin-top: 30px;
}

.adv-left {
  width: 755px;
  padding: 30px;
  text-align: center;
  background: #132035;
  border-radius: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 30px;
}

.advantages {
  margin-bottom: 250px;
}

.heading-left {
  margin: 60px 0;
}

.box__img {
  width: 573px;
  height: 492px;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -ms-flex-positive: 0;
      flex-grow: 0;
}

.box-heading {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #FFFFFF;
  margin-top: 20px;
  margin-bottom: 20px;
}

.box-dsc {
  width: 460px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
  opacity: 0.7;
  margin-top: 20px;
}

.box_txt {
  margin-bottom: 230px;
}

.footer {
  background: #070F1D;
}

.flex-box2__list {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.list {
  width: 261px;
  margin-bottom: 27px;
}

.list-heading {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  margin-bottom: 33px;
  margin-top: 48px;
}

.list-dsc {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  margin-bottom: 25px;
}

.list-info {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 100;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  opacity: 0.6;
  text-align: justify;
}

.list-dsc-img {
  margin-right: 9px;
}

.icons__link {
  margin-right: 24px;
  text-decoration: none;
}

.content_dsc {
  margin-bottom: 10px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 26px;
  color: orange;
  opacity: 0.7;
}

.content {
  margin-bottom: 200px;
}

.content_info {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  color: #FFFFFF;
  opacity: 0.7;
  margin-right: 10px;
}

form {
  text-align: justify;
  max-width: 600px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.btn {
  margin-top: 10px;
  background: #3A68B8;
  font-family: "Roboto";
  padding: 15px 30px;
  font-size: 20px;
  line-height: 27px;
  font-family: "Open Sans", sans-serif;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 15px;
}

.btn:hover {
  opacity: 0.9;
  outline: 3px solid #FFFFFF;
}

input {
  max-width: 300px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 18px;
  padding-left: 5px;
  padding-right: 5px;
}

form input:focus {
  background: #eaeaea;
}

form label {
  width: 150px;
  display: inline-block;
  margin: 6px;
  text-align: justify;
}

@media (max-width: 1200px) {
  .container {
    margin: 0 auto;
  }

  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .header-link {
    padding: 3%;
  }

  .flex-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .main-txt {
    max-width: 100%;
    margin-bottom: 128px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .main-pic {
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .main__img {
    max-width: 100%;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .next {
    font-size: 16px;
    line-height: 26px;
  }

  .main-heading {
    font-size: 48px;
    line-height: 62px;
    max-width: 604px;
  }

  .main-dsc {
    max-width: 558px;
  }

  .logos-flex {
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0 10%;
  }

  .logos__img {
    display: block;
    max-width: 100%;
    padding: 2.5%;
  }

  .banner-txt {
    max-width: 484px;
  }

  .banner-pic {
    margin-bottom: 68px;
    max-width: 100%;
  }

  .banner__img {
    max-width: 100%;
  }

  .flex-box2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .item {
    margin: 2%;
    max-width: 100%;
  }

  .adv-left {
    display: none;
  }

  .adv {
    display: none;
  }

  .item__img {
    max-width: 100%;
  }

  .box__img {
    max-width: 100%;
    min-height: 492px;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    -ms-flex-positive: 0;
        flex-grow: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .box-img {
    max-width: 100%;
  }

  .box-heading {
    max-width: 548px;
  }

  .box-dsc {
    max-width: 460px;
  }

  .box_txt {
    margin-bottom: 64px;
  }

  .container__footer {
    max-width: 100%;
    padding: 0 0 50px 0;
    margin: 0 5% 0 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .list {
    max-width: 261px;
    margin-bottom: 0px;
  }

  .flex-box2__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .list__heading {
    margin-top: 0;
  }

  .list__about {
    padding-top: 36px;
  }

  .list__store {
    padding-right: 25px;
  }

  .container__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .content {
    margin-top: 220px;
  }

  form {
    max-width: 600px;
    text-align: justify;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  input {
    max-width: 300px;
    padding-left: 1%;
    padding-right: 1%;
  }

  form label {
    width: 150px;
    display: inline-block;
    margin: 6px;
    text-align: justify;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: 100vw;
    margin: 0 auto;
  }

  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }

  .header-link {
    padding: 3%;
    display: block;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
  }

  .main {
    margin-top: 87px;
  }

  .flex-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .next {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    text-transform: uppercase;
    text-align: center;
  }

  .main-txt {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .main-heading {
    font-style: normal;
    font-weight: 800;
    font-size: 28px;
    line-height: 36px;
    text-align: center;
    margin-top: 16px;
    max-width: 343px;
  }

  .main-dsc {
    max-width: 343px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 29px;
    margin-top: 64px;
    margin-bottom: 39px;
    text-align: center;
  }

  .main-pic {
    max-width: 94%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .main__img {
    max-width: 100%;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .button-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .get {
    margin-right: 0;
    margin-bottom: 4%;
  }

  .logos {
    margin-top: 128px;
    padding-bottom: 108px;
  }

  .logos-flex {
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 7%;
  }

  .logos__img {
    display: block;
    max-width: 100%;
    padding: 3.5%;
  }

  .banner {
    margin-top: 96px;
    margin-bottom: 96px;
  }

  .banner-pic {
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 68px;
  }

  .banner-heading {
    font-size: 24px;
    line-height: 31px;
    text-align: center;
  }

  .banner-dsc {
    max-width: 343px;
    margin-top: 16px;
    text-align: center;
  }

  .banner-txt {
    max-width: 343px;
    text-align: center;
  }

  .banner-button {
    margin-top: 16px;
  }

  .banner__img {
    max-width: 100%;
  }

  .flex-box2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .item {
    margin: 2%;
    max-width: 100%;
  }

  .item__img {
    max-width: 100%;
  }

  .advantages {
    margin-bottom: 96px;
  }

  .box__img {
    max-width: 100%;
    min-height: 294px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 16px;
  }

  .box-img {
    max-width: 100%;
  }

  .box-heading {
    max-width: 343px;
    font-size: 24px;
    line-height: 31px;
    margin-top: 0px;
    margin-bottom: 16px;
    text-align: center;
  }

  .box-dsc {
    max-width: 343px;
    margin-bottom: 16px;
    margin-top: 16px;
    text-align: center;
  }

  .box_txt {
    margin-bottom: 0px;
  }

  .container__footer {
    max-width: 100%;
    padding: 113px 0 65px 0;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
  }

  .list {
    max-width: 100%;
    margin-bottom: 0px;
    text-align: center;
  }

  .flex-box2__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: stretch;
        align-content: stretch;
  }

  .list__heading {
    margin-top: 0;
    margin-bottom: 32px;
  }

  .list-dsc {
    text-align: left;
  }

  .list__dsc_company {
    text-align: center;
  }

  .list__about {
    padding-top: 36px;
    padding-left: 0px;
    -ms-flex-line-pack: center;
        align-content: center;
  }

  .list-info {
    text-align: left;
  }

  .list__store {
    man-width: 100%;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }

  .list-heading__store {
    margin-top: 0px;
  }

  .icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }

  .icons__link_last {
    margin-right: 0px;
  }

  .container__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .content {
    margin-top: 96px;
  }

  form {
    max-width: 343px;
    text-align: justify;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: center;
  }

  input {
    max-width: 300px;
    padding-left: 1%;
    padding-right: 1%;
  }

  form label {
    width: 150px;
    display: inline-block;
    margin: 6px;
    text-align: center;
  }
}

/*# sourceMappingURL=style.css.map */